.container {
    margin: auto;
}

.sub-card {
    padding: 20px;
    margin-top: 30px;
}

.sub-card p {
    max-width: 600px;
}

.ab-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ab-paragraph p {
    padding: 10px;
}

.ab-paragraph ul li {
    list-style-type: square;
    margin-bottom: 10px;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.team-grid-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.caption {
    margin-top: 5px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}

.sub-caption {
    font-size: 15px;
}

.imgs {
    width: 100%;
    height: 100%;
}

.imgs-pic {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}