body {
  background-image: url('images/5211445.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
  color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary--color: #A33B54;
    --light--color: #f4f4f6;
    --dark--color: #111;
    --secondary--color: #3A4664;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/*NAV BAR*/
.nav-bar .container {
    display: flex;
    align-items: center;
    border: 10px solid transparent;
    background-color: #bcbcbd3a;
    margin-top: 20px;
    border-radius: 30px;
}

.nav-bar .logo {
    width: 110px;
    height: 110px;
    padding-top: 10px;
}

.nav-bar .logo img {
    filter: drop-shadow(0 0 4px rgba(0,0,0,0.3));
}

.nav-bar .menu {
    padding-left: 30px;
}

.nav-bar .menu ul {
    display: flex;
    align-items: center;
    
}

.nav-bar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    margin-right: 10px;
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 12px 24px;
    transition: all 0.3s ease;
} 

.nav-bar ul li a:hover {
    color: #FFD700;
    transform: translateY(-2px);
}


/* FOOTER */
.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: WHITE;
}

.footer i {
    font-size: 3rem;
    margin-right: 10px;
}

.footer .logo {
    width: 100px;
    height: 100px;
}

.footer-conatiner {
        background-color: #bcbcbd3a;
        backdrop-filter: blur(8px);
        padding: 40px;
        margin-top: 20px;
}

.footer .footer-grid {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr;
    gap: 20px;
    margin-left: 30px;
    border-top: 0px solid transparent;
    margin-bottom: 20px;
}

.footer .line {
    background-color: white;
    margin: auto;
    max-width: 90%;
    border: none;
    height: 1.5px;
}

.footer .footer-row {
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

.footer .footer-row i {
    padding-right: 30px;
}

/* Utility Classes */
.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;  
}

.container-lg {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-md {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;  
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;  
}

.card-purple {
  background-color: rgba(200, 180, 220, 0.6);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 20px;
}

.card-orange {
background-color: rgba(255, 180, 100, 0.6);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 20px;
}

/*TEXT*/
.text-xxl {
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 30px 0 20px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.text-bt {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 600;
    margin: 30px 0 20px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: normal;
    margin: 20px 0 10px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.text-center {
    text-align: center;
}

.active {
    color: #FFD700;
}

/*MEDIA QUERIES*/
@media(max-width: 960px) {
    .text-xxl {
        font-size: 2.5rem;
    }
}

@media(max-width: 600px) {
    .text-xl {
        font-size: 1.9rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }

    .text-md {
        font-size: 1.1rem;
    }

    .upcoming .up-content, .footer .footer-grid, .ab-content .team-grid{
        grid-template-columns: 1fr;
    }


    .footer .div { 
        margin-right: 0;
    }

    .footer .footer-grid div {
        text-align: center;
    }

    .footer .footer-grid:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .footer-grid:first-child .logo{
        margin-left: 10px;
    }

    .nav-bar .conatiner{
        max-width: 100%;
    }
    
    .nav-bar .menu {
    padding-left: 0px;
    }

    .nav-bar ul li a {
    padding: 0px;
    transition: all 0.3s ease;
    padding-right: 5px;
}

}

@media(max-width: 500px) {
    .text-xxl {
        font-size: 2rem;
    }
    .text-lg {
        font-size: 1.2rem;
    }
}