.wel-content {
    padding: 20px; 
    margin-top: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wel-text {
    max-width: 600px;
    padding: 10px;

}

.wel-text p {
    margin-bottom: 15px;
}

.wel-text ul li {
    list-style-type: square;
    margin-bottom: 10px;
}

.upcoming {
    padding-top: 10px;
}

.up-content {
    padding: 20px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.up-content p {
    margin-top: 15px;
}

.up-content .card-orange {
    height: 50%px;
}

.form-section {
    max-width: 600px;
    margin: 30px auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
        
.form-group {
    margin-bottom: 30px;
}
        
label {
    display: block;
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
}
        
input, textarea, select {
    background-color: transparent;
    width: 90%;
    padding: 0.75rem;
    color: #ffffff;
    border: 2px solid rgba(200, 180, 220, 0.6);
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}
        
input:focus, textarea:focus, select:focus {
    outline: none;
    border-color:  rgb(105, 7, 204);
}

.input::placeholder, select::placeholder {
    color: #bcbcbd3a;
}

#event{
    background-color: #C07ED8 ;
}

#event option {
    cursor: pointer;
}
        
.submit-btn {
    width: 60%;
    padding: 15px;
    background: rgba(121, 14, 228, 0.644);
    color: #ececec;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}
        
.submit-btn:hover {
    background: rgb(65, 47, 83); 
}
        

@media (max-width: 600px) {
    .form-section {
        margin: 1rem;
        padding: 1.5rem;
        }
            
        .form-title {
            font-size: 1.5rem;
         }
}


